body{
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1{
    background-color: darkslategray;
    color: white;
    margin: 0;
    padding: 0.25em 1em;
}

#outcome{
    font-size: 10vmax;
    margin: 0;
}

#outcome.win{
    color: green;
}

#outcome.lose{
    color: red;
}

#outcome.tie{
    color: blue;
}

.transparent{
    width: 100%;
    height: 100%;
}

#game{
    margin: 1em auto;
}

#game > div{
    max-width: 397px;
    width: 45%;
    display: inline-block;
    border: 5px solid black;
    background-color: #EEEEEE;
    background-image: url(../images/questionMark.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#game > div.rock{
    background-image: url(../images/rock.png);
}

#game > div.paper{
    background-image: url(../images/paper.png);
}

#game > div.scissors{
    background-image: url(../images/scissors.png);
}

.score{
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

#actionForm{
    font-size: 200%;
    padding: 0.25em;
}

#actionForm div{
    display: inline-block;
}

#actionForm button {
    font-size: 100%;
    margin-top: 0.25em;
}

@media (max-width: 450px) {
    #game > div{
        width: 90%;
        margin: auto;
    }

    #actionForm button {
        font-size: 85%;
    }

    #outcome{
        font-size: 8vmax
    }
}